.editor-group-watermark {
  max-width: 500px !important;
  padding-left: 1em;
  padding-right: 1em;
}

.editor-group-watermark .letterpress {
  background-image: url("https://raw.githubusercontent.com/Aikoyori/ProgrammingVTuberLogos/main/VSCode/VSCode-Thick.png") !important;
  aspect-ratio: 8/5 !important;
}
